<div class="ui vertical labeled icon menu">
  <a class="item" href="{% url 'PanelHome' %}">
      <i class="home icon"></i>
      الرئيسية
  </a>
  <a class="item " href="{% url 'JobRequests' %}">
      <i class="suitcase green icon"></i>
      طلبات
  </a>

  <a class="item " href="{% url 'CompanyPostJobs' %}">
      <i class="bullhorn yellow icon"></i>
      منشئات
  </a>

  <a class="item " href="{% url 'AllJobs' %}">
      <i class="exchange blue icon"></i>
      وظائف
  </a>
  
  <a class="item ">
      <i class="sign-out red icon"></i>
      יציאה
  </a>
</div>